{% extends '_base.html' %}


{% block content %}
<h3>Aqui lista!</h3>

<table>
    <thead>
        <th>OIii</th>
    </thead>
    <tbody>
        <tr>
            <td>kkkkkkkkkkkkkkkkkkkk</td>
        </tr>
        <tr>
            <td>kkkkkkkkkkkkkkkkkkkk</td>
        </tr>
        <tr>
            <td>kkkkkkkkkkkkkkkkkkkk</td>
        </tr>
        <tr>
            <td>kkkkkkkkkkkkkkkkkkkk</td>
        </tr>
        <tr>
            <td>kkkkkkkkkkkkkkkkkkkk</td>
        </tr>
        <tr>
            <td>kkkkkkkkkkkkkkkkkkkk</td>
        </tr>
        <tr>
            <td>kkkkkkkkkkkkkkkkkkkk</td>
        </tr>
        <tr>
            <td>kkkkkkkkkkkkkkkkkkkk</td>
        </tr>
    </tbody>
</table>

{% endblock %}