{% extends '_base.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Consultas</h1>
        <a href="{% url 'consulta_create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> Nova Consulta
        </a>
    </div>

    <!-- Consultas List -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Consultas</h6>
        </div>
        <div class="card-body">
            {% if consultas %}
            <ul class="list-group">
                {% for consulta in consultas %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{% url 'consulta_detail' consulta.pk %}">
                            {{ consulta }}
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'consulta_update' consulta.pk %}" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a href="{% url 'consulta_delete' consulta.pk %}" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Finalizar Comsulta
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="text-muted">Nenhuma consulta cadastrada.</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
