{% extends '_base.html' %}

{% block content %}
    <h2>Detalhes do Profissional</h2>
    <p><strong>Nome Completo:</strong> {{ object.nome_completo }}</p>
    <p><strong>Data de Nascimento:</strong> {{ object.data_nascimento }}</p>
    <p><strong>Rua:</strong> {{ object.rua }}</p>
    <p><strong>Número da Casa:</strong> {{ object.num_casa }}</p>
    <p><strong>UF:</strong> {{ object.uf }}</p>
    <p><strong>CPF:</strong> {{ object.cpf }}</p>
    <p><strong>RG:</strong> {{ object.rg }}</p>
    <p><strong>Nome da Mãe:</strong> {{ object.nome_mae }}</p>
    <p><strong>Nome do Pai:</strong> {{ object.nome_pai }}</p>
    <p><strong>Número do Conselho:</strong> {{ object.num_conselho }}</p>
    <a href="{% url 'profissional_update' object.pk %}">Editar</a>
    <a href="{% url 'profissional_delete' object.pk %}">Deletar</a>
{% endblock %}
