<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bem-vindo!</h1>
    <a href="{% url 'usuarios:lista_pessoas' %}">Listagem de Usuários</a>
    <br><br>
    <a href="{% url 'vacina_list' %}">Lista de Vacinas</a>
    <br><br>
    <a href="{% url 'remedio_list' %}">Lista de Remédios</a>
    <br><br>
    <form id="logout-form" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
