{% extends '_base.html' %}

{% block content %}
<h2>Lista de Remédios</h2>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for remedio in remedios %}
        <tr>
            <td>{{ remedio.nome }}</td>
            <td>{{ remedio.descricao }}</td>
            <td>{{ remedio.quantidade }}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="{% url 'estoque:remedio_update' remedio.pk %}">Editar</a>
                <br><br>
                <a class="btn btn-danger btn-sm" href="{% url 'estoque:remedio_delete' remedio.pk %}">Deletar</a>
                <br><br>
                <a class="btn btn-primary btn-sm" href="{% url 'estoque:ajustar_quantidade' remedio.pk %}">Ajustar Quantidade</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-success" href="{% url 'login:user_page' %}">Voltar para a Página de Usuário</a>
<br><br>
<a class="btn btn-primary" href="{% url 'estoque:remedio_create' %}">Adicionar Remédio</a>
{% endblock %}
