{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href={% static "vendor/fontawesome-free/css/all.min.css"%} rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href={% static "css/sb-admin-2.min.css"%} rel="stylesheet">
</head>
<body>
<h1>Editar Pessoa</h1>

    <form action="{% url 'update' pessoa.id %}" method="POST">{% csrf_token %}  
        <label for="nome" >Nome:</label><br>
        <input type="text" name="nome" class="form-control" value="{{ pessoa.nome }}">
        <br><br>
        <label for="sobrenome">Sobrenome:</label><br>
        <input type="text" name="sobrenome" class="form-control" value="{{ pessoa.sobrenome }}">
        <br><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email" class="form-control" value="{{ pessoa.email }}">
        <br><br>
        <button type="submit" class="btn btn-primary">update</button>
    </form>
</body>
</html>
