{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href={% static "vendor/fontawesome-free/css/all.min.css"%} rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href={% static "css/sb-admin-2.min.css"%} rel="stylesheet">
</head>
<body>
    <h1>Listagem de Profissional</h1>
    <h3>Retornar para o <a href="{% url 'pagina1' %}">home</a></h3>    <br>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Email</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
        </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas %}
            <tr>
                <th scope="row">{{ pessoa.id }}</th>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.sobrenome }}</td>
                <td>{{ pessoa.email }}</td>
                <td><a href="{% url 'editar' pessoa.id %}"><button  type="button" class="btn btn-secondary">Editar</button></a></td>
                <td><a href="{% url 'delete' pessoa.id %}"><button type="button" class="btn btn-danger">delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Cadastrar Profissional</h1>
    <form action="{% url 'salvar' %}" method="POST">{% csrf_token %}  
        <label for="nome">Nome:</label><br>
        <input type="text" name="nome">
        <br><br>
        <label for="sobrenome">Sobrenome:</label><br>
        <input type="text" name="sobrenome">
        <br><br>
        <label for="senha">Senha:</label><br>
        <input type="password" name="senha">
        <br><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email">
        <br><br>
        <button type="submit" type="button" class="btn btn-success">salvar</button>
    </form>



</body>
</html>